<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Registrar Paciente</title>

	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>
<header th:replace="Plantillas/plantillaLogin :: header"></header>
<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Registrar Paciente</h1>
							</div>


							<form class="user" th:object="${paciente}" th:action="@{/paciente/guardar}" method="post">

								<div>
									<input type="hidden" th:field="*{idpaciente}">
								</div>


								<div class="form-group row">

									<div class="col-sm-6 mb-3 mb-sm-0">
										<input th:field="*{nombre}" type="text" class="form-control form-control-user"
											id="exampleFirstName" placeholder="Nombre">
									</div>

									<div class="col-sm-6">
										<input th:field="*{apellidos}" type="text"
											class="form-control form-control-user" id="exampleLastName"
											placeholder="Apellido">
									</div>

								</div>

								<div class="form-group row">

									<div class="col-sm-6 mb-3 mb-sm-0">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<label class="input-group-text" for="inputGroupSelect01">Tipo
													Documento</label>
											</div>
											<select th:field="*{tipodocumento}" class="custom-select"
												id="inputGroupSelect01">

												<option value="CC">CC</option>
												<option value="TI">TI</option>

											</select>
										</div>
									</div>

									<div class="col-sm-6">
										<input th:field="*{documento}" type="text"
											class="form-control form-control-user" id="exampleLastName"
											placeholder="Documento">
									</div>

								</div>
								<div class="form-group">
									<input th:field="*{correo}" type="email" class="form-control form-control-user"
										id="exampleInputEmail" placeholder="Correo">
								</div>
								
									<div class="form-group row">

									<div class="col-sm-6 mb-3 mb-sm-0">
										<input th:field="*{telefono}" type="text" class="form-control form-control-user"
											id="exampleFirstName" placeholder="Teléfono">
									</div>

									<div class="col-sm-6">
										
									</div>

								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input th:field="*{contrasenia}" type="password"
											class="form-control form-control-user" id="exampleInputPassword"
											placeholder="Contraseña">
									</div>
									
								</div>

								<input class="btn btn-primary btn-user btn-block" type="submit" value="Guardar">

							</form>
							<hr>
							<div class="text-center">
								<a class="small" th:href="@{/loginPaciente}">¿Ya tienes una cuenta? Entra aquí!</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

</body>

</html>